# Dependencies & Build artifacts
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next
out
build
dist

# Git & IDE metadata
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db
*.pem

# Scratch & Temporary local files
scratch/
tests/
*.log
.env*.local
.env
.system_generated

# Docker artifacts
docker-compose*.override.yml
